html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

@import "../../node_modules/bulma/bulma";
@import "./canvas.scss";
@import "./navbar.scss";
